<form>
	<h2>Sign In</h2>
	<div class="signInField">{{input type="email" value=userEmail placeholder="Email Address"}}</div>
	<div class="signInField">{{input type="password" value=userPassword placeholder="Password"}}</div>
	<div class="btn" {{action 'signIn'}}>Sign In</div>
</form>