<form>
	<div>{{input type="email" value=userEmail placeholder="Email Address"}}</div>
	<div>{{input type="password" value=userPassword placeholder="Password"}}</div>
	<div class="btn" {{action 'signIn'}}>Sign In</div>
</form>

{{link-to 'Profiles' 'profiles'}}